  
body {
    background: white;
    letter-spacing: 0.2em;
    font-size: 14px;
    color: white;
    background-color: RGB(18, 0, 181);
    /* font-family: Helvetica; */
    font-family: Tahoma;
}

 .container-daily {
    max-width: 300px;
    height: 75%;
    /* margin: auto; */
    text-align: center;
}

.container-daily h1 {
    margin-top: 20px;
}

h1 {
    font-size: 2.5rem;
}

.card {
    margin-bottom: 100px;
}

.update-city {
    text-align: center;
    /* border: 2px solid black; */
    margin-top: 40px;
    margin-bottom: 75px;
}

.left {
    width: 40%;
    margin: auto;
  }
  
  .right {
    width: 60%;
    margin: auto;
  }

  .flex {
    display: flex;
    width: 100%;
  }
  

form {
    background-color: RGB(18, 0, 181);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.time {
    height: 100%;
    width: 100%;
}

.details {
    background-color: RGB(0, 161, 215);
    height: 100%;
    font-weight: bold;
    padding-top: 40px;
}
.temp {
    background-color: RGB(0, 161, 215);
    height: 100%;
    padding-bottom: 10px;
}

span {
    font-size: 2.5rem;
    font-weight: bold;
}


.icon {
    position: relative;
    margin: auto;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    margin-bottom: -100px;
    /* background-color: RGB(0, 230, 235);
    background-color: RGB(18, 0, 137); */
    background-color: RGB(87, 248, 238);
}

/* .icon-5day {
  position: relative;

} */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color:white;
    color: black;
    /* margin: auto; */
    margin-top: -50px;
    /* margin-bottom: 60px; */
  }

  th {
     background-color: RGB(0, 161, 215);
     color: white;
  }
  th, td {
    padding: 5px;
    padding-left: 10px;
    text-align: left;    
  }


  .table-center {
    text-align: center;
  }

  .container-forecast table h1 {
    margin: auto;
  }

  .table-header h2 {
    position: absolute;
    margin-top: -100px;
  }

  @media only screen and (max-width: 866px) { 
    .flex {
        flex-direction: column;
       }
     
       .left {
         width: 100%;
       }
     
       .right {
         width: 100%;
         margin-top: 50px;
         margin-left: 10px;
         margin-right: 10px;
       }
     

  }

